body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1c1c1c;
}

h1 {
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#carousel-container {
    position: relative;
    margin: 20px auto;
    width: 1600px;
    height: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Asegúrate de ocultar cualquier parte de las imágenes que se desborden */
}

#carousel-container img {
    width: 1600px; /* Ajusta el ancho */
    height: 900px; /* Ajusta el alto */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin distorsión */
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}
